body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #212428;
    position: relative;
}

header>img{
    position: absolute;
    top: 10px;
    left: 80px;
    width: 80px;
    margin: auto;
}

header>nav>ul{
    position: absolute;
    right: 0;
    list-style: none;
}

header>nav>ul>li{
    display: inline-block;
    margin-right: 80px;
    font-size: larger;
    margin-top: 20px;
}

header>nav>ul>li>a{
    text-decoration: none;
}


