@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lilita+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  background-color: #000;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(226, 226, 226, 0.06) 0px,
      rgba(226, 226, 226, 0.06) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  padding: 0 10px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  color: aqua;
}

.lists {
  display: flex;
  gap: 40px;
}

.list {
  text-decoration: none;
  color: #fff;
  position: relative;
  scroll-behavior: smooth;
}

.active::after {
  width: 15px;
  height: 5px;
  content: "";
  background-color: aqua;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.hamburger {
  color: #fff;
  font-size: 25px;
  display: none;
}

.main-container {
  max-width: 1500px;
  padding: 0 10px;
  margin: 0 auto;
  background: none;
  margin-top: -80px;
}

#hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left .name {
  background-color: aqua;
  color: black;
  width: max-content;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 500;
}

.left .title {
  font-size: 50px;
  color: #fff;
}

.left .title > span {
  color: aqua;
}

.left .description {
  color: gainsboro;
}

.left .btns {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.btns .contact-btn {
  background-color: whitesmoke;
  max-width: max-content;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

.contact-btn:hover {
  transform: scale(1.2);
}

.social-icons {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  transition: 0.5s;
}

.social-icon:hover {
  transform: scale(1.2);
  font-size: 40px;
}

.right {
  width: 50%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-wrapper {
  height: 400px;
  width: 500px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  justify-content: center;
}

.hero-img dotlottie-player {
  width: 1000px;
  height: 400px;
}

.scrolldown {
  position: absolute;
  bottom: 50px;
  right: 50%;
  transform: translateX(50%);
  font-size: 25px;
  color: aqua;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  scroll-behavior: smooth;
}

.scrolldown > span {
  font-size: 14px;
  color: whitesmoke;
  letter-spacing: 4px;
}

.fa-computer-mouse {
  animation: up 0.5s ease-in-out alternate infinite;
}

@keyframes up {
  to {
    transform: scale(1.2);
  }
}

/* About section */
#about {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-left {
  width: 700px;
  pointer-events: none;
}

.about-img {
  background: none;
  width: 100%;
  height: 600px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-img > img {
  width: 100%;
  height: 600px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.about-right {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  width: 100%;
}

.about-right-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-right-top > p:nth-child(1) {
  font-size: 22px;
  color: aqua;
}

.about-right-top > p:nth-child(1) > span {
  color: #fff;
}

.about-right-top > p:nth-child(2) {
  font-size: 52px;
  font-weight: 600;
  color: whitesmoke;
}

.about-right-top > p:nth-child(2) > span {
  color: aqua;
}

.about-right-description {
  color: whitesmoke;
  line-height: 2;
  letter-spacing: 1px;
}

.about-right-mid {
  display: flex;
  gap: 50px;
  border: #fff;
  width: 550px;
  height: 100px;
  border: 1px solid whitesmoke;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about-right-mid-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-right-mid-info > p:nth-child(1) {
  font-size: 32px;
  font-weight: 500;
}

.about-right-mid-info {
  font-size: 20px;
  letter-spacing: 2px;
}

.download-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid aqua;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  padding: 10px 25px;
  transition: 0.5s;
}

.download-btn:hover {
  background-color: aqua;
  color: #000;
}

/* skills section */
#skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  gap: 80px;
}

.skills-top {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-top > p:nth-child(1) {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: aqua;
}

.skills-top > p:nth-child(1) > span {
  color: #fff;
}

.skills-top > p:nth-child(2) {
  font-size: clamp(1.8rem, 1.05rem + 3.3333vw, 2.8rem);
  font-weight: 600;
  max-width: 80%;
  align-self: center;
}

.skills-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}

.card {
  background-color: transparent;
  border: 1px solid whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  border: 1px solid aqua;
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: aqua;
}

.card-description {
  font-size: 14px;
  color: whitesmoke;
  margin-bottom: 15px;
}

.skills-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.marquee {
  width: 100vw;
  max-width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  display: flex;
  background: transparent;
  border-radius: 5px;
}

.track {
  gap: 10px;
  display: flex;
  gap: 10px;
  animation: marquee 40s linear infinite;
  will-change: transform;
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Project section */

#projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  gap: 80px;
}

.project-top {
  position: sticky;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  position: sticky;
  top: 0;
  padding: 20px 0;
  z-index: 1000;
}

.project-top > p:nth-child(1) {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  color: aqua;
}

.project-top > p:nth-child(1) > span {
  color: #fff;
}

.project-top > p:nth-child(2) {
  font-size: clamp(1.8rem, 1.05rem + 3.3333vw, 2.8rem);
  font-weight: 600;
  max-width: 80%;
  align-self: center;
}

.portfolio-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3rem;
}


.portfolio-detail{
  display: none;
}

.portfolio-detail.active{
  display: block;
}

.portfolio-box .numb{
  font-size: 8rem;
  -webkit-text-stroke: .07rem whitesmoke;
  color: transparent;
  line-height: 1;
}

.portfolio-box h3{
  font-size: 3.5rem;
  margin: .8rem 0 2rem;
}

.portfolio-box p{
  font-size: 1.6rem;
}

.portfolio-box .tech{
  margin: 2rem 0;
  color: whitesmoke;
  border-bottom: .1rem solid whitesmoke;
  padding-bottom: 2rem;
}

.portfolio-box .live-github a{
  position: relative;
  display: inline-flex;
  padding: 1.3rem;
  font-size: 3rem;
  color: whitesmoke;
  border-radius: 50%;
  background: #555;
  transition: .5s;
}

.portfolio-box .live-github a:hover{
  color: aqua;
}

.portfolio-box .live-github a:first-child{
  margin-right: 1.5rem;
}

.portfolio-box .live-github a:first-child .fa-arrow-left{
  transform: rotate(135deg);
}

.portfolio-box .live-github a span{
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  white-space: nowrap;
  padding: .5rem 1rem;
  border-radius: .6rem;
  pointer-events: none;
  background: whitesmoke;
  color: black;
  opacity: 0;
  scale: .9;
  transition: .2s;
}

.portfolio-box .live-github a:hover span{
  top: -70%;
  opacity: 1;
  scale: 1;
}

/* Responsive hero */

@media screen and (max-width: 840px) {
  header,
  main-container {
    padding: 0, 20px;
  }

  .hamburger {
    display: flex;
  }

  .lists,
  .top-nav {
    display: none;
  }

  /* abaut section */

  #about {
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
    padding: 30px 0;
  }

  .about-left {
    max-width: 100%;
  }

  .about-img {
    width: clamp(20rem, 11.5625rem + 37.5vw, 31.25rem);
    height: clamp(20rem, 11.5625rem + 37.5vw, 31.25rem);
  }

  .about-img > img {
    width: clamp(20rem, 11.5625rem + 37.5vw, 31.25rem);
    height: clamp(20rem, 11.5625rem + 37.5vw, 31.25rem);
  }

  /* Skills section */

  #skills {
    height: 100%;
    margin-top: 100px;
    padding: 30px 0;
  }

  .skills-top > p:nth-child(2) {
    max-width: 100%;
  }

  .skills-mid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 80%;
    padding: 15px;
  }

  .marquee .track {
    animation: marquee 60s linear infinite;
  }

  .skills-top > p:nth-child(2) {
    font-size: 2.2rem;
  }
  .card-description {
    font-size: 13px;
  }

  .project-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 20px;
  }

  .project-image {
    width: 100%;
    padding: 10px;
  }

  .project-image img {
    width: 90%;
    height: auto;
    max-width: 400px;
  }

  .project-details {
    max-width: 90%;
    text-align: center;
  }

  .project-buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .main-container {
    margin-top: 0;
  }

  #hero {
    flex-direction: column-reverse;
    gap: 30px;
    height: 100%;
  }

  .left {
    width: 100%;
    gap: 30px;
  }

  .btns {
    justify-content: center;
  }

  .social-icon {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .right {
    width: 100%;
    justify-content: center;
  }
  .hero-wrapper {
    height: clamp(12.5rem, 0rem + 55.5556vw, 25rem);
    width: clamp(12.5rem, 1.25rem + 50vw, 23.75rem);
  }

  .hero-img {
    width: clamp(12.5rem, 6.25rem + 27.7778vw, 18.75rem);
    height: clamp(12.5rem, 6.25rem + 27.7778vw, 18.75rem);
  }

  .hero-img dotlottie-player {
    width: 300px;
    height: 300px;
  }

  .scrolldown {
    flex-direction: column-reverse;
    right: 20px;
    bottom: 50px;
  }

  .scrolldown > span {
    text-orientation: upright;
    writing-mode: vertical-lr;
    letter-spacing: 0;
  }

  /* Skills section */
  #skills {
    height: 100%;
    margin-top: 100px;
    padding: 30px 0;
  }

  .skills-top > p:nth-child(2) {
    max-width: 100%;
  }

  .skills-mid {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .card {
    width: 90%;
    padding: 10px;
  }

  .marquee .track {
    animation: marquee 80s linear infinite;
  }

  .skills-top > p:nth-child(2) {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .card-description {
    font-size: 12px;
  }

  .marquee img {
    width: 40px;
    height: 40px;
  }

  .projects {
    padding: 30px;
  }

  .project-top > p:nth-child(1) {
    font-size: 25px;
  }

  .project-top > p:nth-child(2) {
    font-size: 1.5rem;
    max-width: 90%;
  }

  .project-container {
    flex-direction: column;
    padding: 15px;
    min-height: auto;
    gap: 15px;
  }

  .project-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .project-details {
    max-width: 100%;
  }

  .project-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
    justify-content: center;
  }
}
